body {
    background-image: url(https://cadenaser00.epimg.net/programa/imagenes/2015/01/20/ser_consumidor/1421749833_652308_1421750602_noticia_normal.jpg)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo__img {
    background-color: rgb(255, 255, 255);
    width: 20%;
    display: block;
    margin: 0 auto}
    

    ul {
        list-style: none;
        font-size: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        width: 20%;
        position:relative;
    }
    a {
        font-size: 14px;
        text-align: center;
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(4, 116, 38);
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
    }
    a:hover {
        background: rgb(22, 199, 16);
    }
    ul ul { position: absolute;
    display: none;}
    ul ul li {
    width: 100%;
    }
    ul li:hover ul { 
    display: block;
    }
    ul li:hover ul a:hover {
        background-color: rgb(22, 199, 16);
    }
.envios__texto {
    color: rgb(255, 255, 255);
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgb(211, 102, 0);
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:inherit
     }
     
     
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }
     

.portada__img {
    width: 100%;
    display: block;
    margin: 0 }

.amba__texto {
    color: white; 
    background-color:  rgb(211, 102, 0);
    text-align: center;}

    .amba2__texto {
        color: white; 
        background-color:  rgb(211, 102, 0);
        text-align: center;}

.caba__texto {
        color: white; 
        background-color:  rgb(211, 102, 0);
        text-align: center;}    
.caba2__texto {
    color: white; 
    background-color:  rgb(211, 102, 0);
    text-align: center;}

.pago__texto {
    color: white; 
    background-color:  rgb(211, 102, 0);
    text-align: center;}

.mp__texto {
    color: white; 
    background-color:  rgb(211, 102, 0);
    text-align: center;}






.productos__texto {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-weight: bolder;
    background-color: rgb(211, 102, 0);
}

.productosdestacados  {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    display: flex;     
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 300px; }

 .arvejas__tex { 
   background-color: rgb(211, 102, 0);
    }
    .soja__tex {
        background-color: rgb(211, 102, 0);
    }
    .lenteja__tex {
        background-color: rgb(211, 102, 0);
    }


    
.contacto__texto {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-weight: bolder;
    background-color: rgb(211, 102, 0);;
}
.formulario__texto {

    text-align: center;
}
.nombre__texto {
    color: white;
    background-color:  rgb(0, 0, 0);
    font-weight: bolder;
}

.apellido__texto {
    color: white;
    background-color:  rgb(0, 0, 0);
    font-weight: bolder;
}
.email__texto {
    color: white;
    background-color:  rgb(0, 0, 0);
    font-weight: bolder;
}

.number__texto {
    color: white;
    background-color:  rgb(0, 0, 0);
    font-weight: bolder;
}

.mensaje__texto {
    color: white;
    background-color:  rgb(0, 0, 0);
    font-weight: bolder;
}
.comocomprar__texto {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-weight: bolder;
    background-color: rgb(211, 102, 0);
}

.informacion__texto {
    background-color: rgb(223, 146, 75);
    color: white;
    font-size: 20px;
    text-align: center;
}
.preguntasfrecuentes__texto {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-weight: bolder;
    background-color: rgb(211, 102, 0);
}

.comunicar__texto {
    background-color: rgb(223, 146, 75);
    color: white;
  font-weight: bolder;
  text-align: center;
}
.subtitulo__texto {
    background-color: rgb(223, 146, 75);
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}

.datos__texto {
    background-color:rgb(223, 146, 75);
    color: white;
    text-align: center;
    font-size: 200%;
}


/* Top navigation bar */
.barraprincipal {
    overflow: hidden;
    background-color: rgb(255, 255, 255);}
  
  /* Topnav links */
  .barraprincipal {
    background-color: white;
    display: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  
  @media screen and (min-width: 600px) {
  .barraprincipal {
      display: block;
      width: 100%;
  background-color: white;
    }
}
